ul{
    display: flex;
    
    background-color: blueviolet;
}
li{
    padding: 14px;
    list-style: none;
}
table , td{
border: 5px solid blue;    
border-radius: 10px;
}
.html5{
    color: brown;
}
.hi{
    
}